{% extends 'layouts/main.twig' %}

{% block main %}
    <h1>Mon titre bordel : </h1>
    {# {{ dump(listArticle) }} #}

    {% for item in listArticle %}
    		<div class="article">
    			<p class="date">{{ item.date|date("d.m.Y") }}</p>
          {% if item.img is defined %}
            <img src="{{ item.img }}" alt="" class="thumbnail">
            <h3>{{ item.title }}</h3>
            {% else %}
            <h3 class="big_Title">{{ item.title }}</h3>
          {% endif %}
    			<p>{{ item.resume }}</p>
    			<div class="button"><a href="{{ item.link }}">Voir l'article</a></div>
    		</div>
    {% else %}
    <h2> Je ne suis pas rentré dans la boucle</h2>
    {% endfor %}
{% endblock %}
