{% extends 'layouts/main.twig' %}

{% block main %}
    <h1>Mon titre bordel : </h1>
    {# {{ dump(listArticle) }} #}

    {% if sticky is defined %}
      <div class="sticky_bloc">
        <a href="{{ sticky.link }}">
          <div class="bloc_img">
            {{ sticky.imgHome|raw }}
          </div>
          <div class="bloc_content">
            <p class="date">{{ sticky.date|date("d.m.Y") }}</p>
            <h3>{{ sticky.title }}</h3>
            <p>{{ sticky.resume }}</p>
            <p class="button">Voir l'article</p>
          </div>
        </a>
      </div>

    {% endif %}

    {% for item in listArticle %}

    		<div class="article">
    			<p class="date">{{ item.date|date("d.m.Y") }}</p>

          {% if item.img is defined %}

            <div class="thumbnail">
              <a href="{{ item.link }}">{{ item.img|raw }}</a>
            </div>
            <h3>{{ item.title }}</h3>

            {% else %}

            <div class="default_thumbnail">
              <h3 class="big_Title">{{ item.title }}</h3>
            </div>

          {% endif %}

    			<p>{{ item.resume }}</p>
    			<div class="button"><a href="{{ item.link }}">Voir l'article</a></div>
    		</div>

    {% else %}

    <h2> Je ne suis pas rentré dans la boucle</h2>

    {% endfor %}

    <div class="test_pagination">
      {{ fn('the_posts_pagination', {
        'mid_size' : '2',
        'prev_text' : __( '<', 'textdomain' ),
      	'next_text' : __( '>', 'textdomain' ),
        'screen_reader_text': 'Titre de ma pagination à masquer en CSS',
        }) }}
    </div>
    {# Pagination manuelle
    {% if nbrpost > 1 %}
    <div id="paging">
      <ul>
        <li class="previous_page"> <a href="{{ path }}/page/{{currentPage - 1}}"><</a></li>
        {% if nbrpost > 6 %}
            <li><a href="{{ path }}/{{ currentPage }}">1</a></li>
            <li><a href="{{ path }}/page/2">2</a></li>
            <li><a href="{{ path }}/page/3">4</a></li>
            <li><a href="{{ path }}/page/4">4</a></li>
            <li><a href="{{ path }}/page/5">5</a></li>
        {% else %}
            {% for nbr in 1..nbrpost %}
                <li><a href="{{ path }}/page/{{ nbr }}">{{ nbr }} / {% if nbr == currentPage %} {{ currentPage }} {% endif %}</a></li>
            {% endfor %}
        {% endif %}
        <li class="next_page"> <a href="{{ path }}/page/{{currentPage + 1}}">></a></li>
      </ul>
    </div>
    {% endif %}
    Fin pagination manuelle #}

{% endblock %}
